
body
{
    background-color:rgba(219, 92, 75, 0.9);
    float: none;
    
}

.butt_add {
    display: flex;
    height:30px;
    background: transparent;
    border: none;

}
.text_add {
    display: none;
    width:50px;
    height:30px;
}

.text_price{
    width: 40px;
    height:30px;
    margin-left:20px;
    float: left;
    font-weight: bold;
    color: black;
}
.butt_edit{
    margin:0px;
    height:30px;
    display: flex;
    background: transparent;
    border:none;
}
.butt_remove{
    margin:0px;
    height:30px;
    display: flex;
    background: transparent;
    border:none;
}
.item_avail{
    text-align: right;
    padding-right: 10px;
}
#new_item_butt{
    font-size: 20px;
    margin-left: 37%;
    margin-right: 37%;
    margin-top: 6px;
    width: 120px;
}
#Update_stock{
    font-size: 20px;
    align: left;
}
.visibility_button
{
    self-align:center;
    margin:0px;
    height:30px;
    display: flex;
    background: transparent;
    border:none;
}
#new_item_box
{
    margin-left: 22%;
    margin-right: 30%;
    width: 950px;
    border: 1px solid black;
    position: relative;
    height: 230px;
    bottom: 0px;
}
#add_desc
{
    color:blue;
    
}
#add_desc:hover
{
    cursor: pointer;
}

#desc_area
{
    width: 100%;
}


#new_item_label
{
    color: black;
    font-weight: 600;
    border: 1px solid black;
    margin: 8px;
    margin-top: 10px;
    padding: 4px;
    font-size: 24px;
    box-shadow: 0px 6px 10px #fff; 
    
}
#new_item_table
{
    margin:8px;
}

