<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>verify_admin_login</servlet-name>
        <servlet-class>controller.verify_admin_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_new_item</servlet-name>
        <servlet-class>controller.add_new_item</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_itemstatus</servlet-name>
        <servlet-class>controller.update_itemstatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_itemprice</servlet-name>
        <servlet-class>controller.update_itemprice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_itemquantity</servlet-name>
        <servlet-class>controller.update_itemquantity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewstock</servlet-name>
        <servlet-class>controller.viewstock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>view_stock</servlet-name>
        <servlet-class>controller.view_stock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>view_transactions</servlet-name>
        <servlet-class>controller.view_transactions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>view_manage_users</servlet-name>
        <servlet-class>controller.view_manage_users</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderSummary</servlet-name>
        <servlet-class>controller.OrderSummary</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>view_account</servlet-name>
        <servlet-class>controller.view_account</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>view_all</servlet-name>
        <servlet-class>controller.view_all</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>view_drinks</servlet-name>
        <servlet-class>controller.view_drinks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>view_meal</servlet-name>
        <servlet-class>controller.view_meal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_login_verify</servlet-name>
        <servlet-class>controller.user_login_verify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>create_user</servlet-name>
        <servlet-class>controller.create_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_item_cart</servlet-name>
        <servlet-class>controller.add_item_cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkout</servlet-name>
        <servlet-class>controller.checkout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>view_snacks</servlet-name>
        <servlet-class>controller.view_snacks</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>verify_admin_login</servlet-name>
        <url-pattern>/verify_admin_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_new_item</servlet-name>
        <url-pattern>/add_new_item</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_itemstatus</servlet-name>
        <url-pattern>/update_itemstatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_itemprice</servlet-name>
        <url-pattern>/update_itemprice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_itemquantity</servlet-name>
        <url-pattern>/update_itemquantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>view_stock</servlet-name>
        <url-pattern>/view_stock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>view_transactions</servlet-name>
        <url-pattern>/view_transactions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>view_manage_users</servlet-name>
        <url-pattern>/view_manage_users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderSummary</servlet-name>
        <url-pattern>/OrderSummary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>view_account</servlet-name>
        <url-pattern>/view_account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>view_all</servlet-name>
        <url-pattern>/view_all</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>view_drinks</servlet-name>
        <url-pattern>/view_drinks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>view_meal</servlet-name>
        <url-pattern>/view_meal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_login_verify</servlet-name>
        <url-pattern>/user_login_verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>create_user</servlet-name>
        <url-pattern>/create_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_item_cart</servlet-name>
        <url-pattern>/add_item_cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkout</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>view_snacks</servlet-name>
        <url-pattern>/view_snacks</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
